
nav {
  background-color :#1565c0;
}

[disabled] { pointer-events: none; }


.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 42px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.errorSummary {
  list-style-type:square ;
  max-width: 350px;
  padding:20px;
  border:2px solid #a94442;
  border-radius: 4px;
  background-color: pink;
}

.has-error .form-control {
  background:pink !important;
}
